---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, heroImage, lang } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.hero-image {
				margin: 0 0 2em;
			}
			.hero-image img {
				display: block;
				width: 100%;
				border-radius: 2px;
			}
			.title {
				margin-bottom: 2.5em;
			}
			.title h1 {
				margin: 0;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article lang={lang}>
				{heroImage && (
					<div class="hero-image">
						<Image width={1240} height={620} src={heroImage} alt="" />
					</div>
				)}
				<div class="title">
					<h1>{title}</h1>
				</div>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
